$textColor: #3c3e41;
$primaryColor: #ff014f;
$bgColor: linear-gradient(145deg, #e2e8ec, #ffffff);
$bgSecondColor: #e2e8ec;

//fonts
$fontFamilyTitle: "Montserrat", sans-serif;
$fontFamilyText: "Montserrat", sans-serif;
