
.button {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: #ff014f;
    font-size: 16px;
    color: #1e2125;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}