.mainBlock {
    height: 100vh;
    .greeting {
        width: 400px;

    }
    .img {
        height: 400px;
        width: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}




