.mainBlock{
    height: 100vh;
    background-color: #94727c;
}



.greeting{
    width: 300px;
    background-color: #e9efe3;

}

.img{
    height: 400px;
    width: 300px;
    background-color: #e9efe3;
}