@import "../common/style/sass/mixins";

.nav {
  @include text($fontFamilyText, 24px, 32px, #1e2125, 500);
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  &::after {
    content: '';
    position: absolute;
    background: #dce1e4;
    width: 100%;
    height: 1px;
  }
}