@import "../common/style/sass/mixins";
@import "../common/style/sass/veriables";

.nav {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    @include text($fontFamilyText, 24px, 22px, $textColor, 500);
  }
}