.remoteBlock {
    height: 30vh;
    background-color: palegreen;
}

.remoteContainer {
    flex-direction: column;

}

.remoteButton {
    text-transform: uppercase;
    background-color: gold;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}