.footerBlock{
    /*height: 100vh;*/
    background-color: palegreen;
}
.footerContainer{
    flex-direction: column;
}

.nav{
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.element{
    width: 50px;
    height: 50px;
    background-color: #637e94;
}

